.App {
  text-align: center;
}
body {
  background-color: #282c34;
}
h1, h2, h3, h3, h4, h5, h6, p {
  color:aliceblue
}
h2, p {
  text-transform: capitalize;
}
h1 span.badge {
 font-size: 1rem;
  position: absolute;
  top: 0;
}
.bloque-tarea {
  background-color: #1f2228;
  padding: 20px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0px 0px 7px -1px slateblue;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bloque-textos {
  text-align: left;
  width: 65%;
}
form {
  margin-bottom: 20px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  position: fixed;
  max-width: 600px;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #15151c;
  margin: auto;
  height: 320px;
  padding: 20px;
}
.header-form {
 position: relative;
  max-width: 600px;
  width: 100%;
}
.header-form button {
  position: absolute;
  right: 0;
  top: 0;
}
.alert {
  padding: 10px;
}
